@charset "utf-8";
	.Telegram_xA0_Image
{
	background-image : url(Telegram_xA0_Image.png);
	background-repeat : no-repeat;
}
.Orange_Sign_xA0_Image
{
	background-image : url(Orange_Sign_xA0_Image.png);
	background-repeat : no-repeat;
}
.BGsign_xA0_Image
{
	background-image : url(BGsign_xA0_Image.png);
	background-repeat : no-repeat;
}
.Discord_xA0_Image
{
	background-image : url(Discord_xA0_Image.png);
	background-repeat : no-repeat;
}
.Twitter_xA0_Image
{
	background-image : url(Twitter_xA0_Image.png);
	background-repeat : no-repeat;
}
